app/code/local/Neo/Soapapi/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            
<!--BEGIN TYPES --> 

            <!--BEGIN CUSTOMER TYPES -->
            <xsd:complexType name="updatePriceInfo">
                <xsd:sequence>
                    <xsd:element name="sku" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:string"/>
                    <xsd:element name="special_price" type="xsd:string"/>
                    <xsd:element name="special_from_date" type="xsd:string"/>
                    <xsd:element name="special_to_date" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updatePriceInfoResult">
                <xsd:sequence>
                    <xsd:element name='result' type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updateStockInfo">
                <xsd:sequence>
                    <xsd:element name="sku" type="xsd:string"/>
                    <xsd:element name="qty" type="xsd:string"/>
                    <xsd:element name="reason" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updateStockInfoResult">
                <xsd:sequence>
                    <xsd:element name='result' type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <!--END CUSTOMER TYPES -->
            
            <!--BEGIN CUSTOMER PARAMS -->
            <xsd:element name="updateProductsPriceRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="sku" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="price" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="special_price" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="special_from_date" type="xsd:string"/>
                        <xsd:element minOccurs="1" maxOccurs="1" name="special_to_date" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateProductsPriceResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:updatePriceInfoResult" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateProductsStockRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="sku" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="qty" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="reason" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateProductsStockResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:updateStockInfoResult" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!--END CUSTOMER PARAMS -->
            
        </xsd:schema>
    </wsdl:types>
    
    
<!-- BEGIN MESSAGES -->

            <!-- BEGIN CUSTOMER MESSAGES -->
    <wsdl:message name="updateProductsPriceRequest">
        <wsdl:part name="parameters" element="typens:updateProductsPriceRequestParam" />
    </wsdl:message>
    <wsdl:message name="updateProductsPriceResponse">
        <wsdl:part name="parameters" element="typens:updateProductsPriceResponseParam" />
    </wsdl:message>
    <wsdl:message name="updateProductsStockRequest">
        <wsdl:part name="parameters" element="typens:updateProductsStockRequestParam" />
    </wsdl:message>
    <wsdl:message name="updateProductsStockResponse">
        <wsdl:part name="parameters" element="typens:updateProductsStockResponseParam" />
    </wsdl:message>
            <!-- END CUSTOMER MESSAGES -->

<!-- END MESSAGES -->


    <wsdl:portType name="{{var wsdl.handler}}PortType">
<!-- BEGIN PORT TYPES -->
            <!-- BEGIN CUSTOMER PORT TYPES -->
        <wsdl:operation name="updateProductsPrice">
            <wsdl:documentation>EBAutomation Update Product Price</wsdl:documentation>
            <wsdl:input message="typens:updateProductsPriceRequest" />
            <wsdl:output message="typens:updateProductsPriceResponse" />
        </wsdl:operation>
        <wsdl:operation name="updateProductsStock">
            <wsdl:documentation>EBAutomation Update Product Stock</wsdl:documentation>
            <wsdl:input message="typens:updateProductsStockRequest" />
            <wsdl:output message="typens:updateProductsStockResponse" />
        </wsdl:operation>
            <!-- END CUSTOMER PORT TYPES -->
            
<!-- END PORT TYPES -->
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        
<!-- BEGIN BINDINGS -->
            <!-- BEGIN CUSTOMER BINDINGS -->
        <wsdl:operation name="updateProductsPrice">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateProductsStock">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
            <!-- END CUSTOMER BINDINGS -->
<!-- END BINDINGS -->
    </wsdl:binding>
</wsdl:definitions>